<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LessonNotFoundError"
            android:label="My Timetable" />
        <activity
            android:name=".NullModuleError"
            android:label="My Timetable" />
        <activity
            android:name=".ErrorTimetable"
            android:label="My Timetable" />
        <activity
            android:name=".ViewTimetable"
            android:label="My Timetable" />
        <activity
            android:name=".SetRequirement"
            android:label="My Timetable" />
        <activity
            android:name=".NoTimetable"
            android:label="My Timetable" />
        <activity
            android:name=".ListOfModules"
            android:label="My Modules" />
        <activity
            android:name=".EditModules"
            android:label="My Modules"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:label="NUSTT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>